.logo {
    width: 550px;
}

.divlinks {
    width: 100%;
    max-width: 400px;    
    text-align: center;
    line-height: 25px;
}

.divcenter {
    text-align: center;
}

.divconteudo {
    margin: 10px;
}

.divpropaganda {
    margin-top: 50px;

}
#link{
    color: #000000;
}
